<div>
  <button class="btn btn-primary" (click)="login()">Login</button>
  <button class="btn btn-primary" (click)="logout()">Logout</button>
</div>
<div *ngIf="authenticationService.getIsAuthenticated()">
  <timer></timer>
</div>
