<div class="timer">
    <div class="timer-clock"
         [ngStyle]="{'color' : timerService.time > 10 ? 'black' : 'red'}">
      TIMER: {{timerService.time | minsec}}
    </div>
    <div class="timer-warning block--yellow" *ngIf="timerService.time <= 5">
      You are running out of time!!!
    </div>
</div>