<div class="container">
  <h3>Employees</h3>
  <button class="btn btn-light" (click)="refresh()">Refresh All</button>
  <button class="btn btn-light" (click)="filterByPosition(position.value)">Filter by Position:</button>
  <input type="text" id="position" placeholder="position" #position>
  <button class="btn btn-light" (click)="filterByBuilding(building.value)">Filter by Building:</button>
  <input type="text" id="building" placeholder="building" #building>
  <table class="table table-striped table-sm" style="margin-top: .5em">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Position</th>
      <th>Email</th>
      <th>Country</th>
      <th>City</th>
      <th>Post code</th>
      <th>Street</th>
      <th>Building</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.position}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.location.country}}</td>
      <td>{{employee.location.city}}</td>
      <td>{{employee.location.postCode}}</td>
      <td>{{employee.location.street}}</td>
      <td>{{employee.location.building}}</td>
    </tr>
    </tbody>
  </table>
</div>
