<nav class="navbar navbar-expand-sm bg-light" style="margin-bottom: 1em">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/xml-writer">Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/xml-reader">Show</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/timer-demo">Timer</a>
    </li>
  </ul>
</nav>
