<pre>
  {{xmlWriterForm.value | json}}
</pre>
<form #xmlWriterForm="ngForm" (ngSubmit)="createEmployee()" novalidate>
    <p>Is "xmlWriterForm" valid? {{xmlWriterForm.valid}}</p>
  <div class="form-group row">
    <label for="id" class="col-2 col-form-label">Id</label>
    <div class="col-10">
      <input id="id" type="text" class="form-control"
            [(ngModel)]="employee.id" name="id" required pattern="\d{4}">
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <input id="name" type="text" class="form-control"
            [(ngModel)]="employee.name" name="name" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="position" class="col-2 col-form-label">Position</label>
    <div class="col-10">
      <input id="position" type="text" class="form-control"
            [(ngModel)]="employee.position" name="position">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input id="email" type="text" class="form-control"
           [(ngModel)]="employee.email" name="email">
    </div>
  </div>
  <div class="form-group row">
    <label for="location" class="col-2 col-form-label">Location</label>
    <div class="col-10">
      <select id="location" class="form-control"
              [(ngModel)]="employee.location" name="location"
              (click)="locationDetailsVisible = false">
        <option *ngFor="let location of locations"
                [ngValue]="location">{{location.city}}, {{location.street}}, {{location.building}}
        </option>
      </select>
    </div>
  </div>

  <button *ngIf="!locationDetailsVisible" class="btn btn-light"
          (click)="locationDetailsVisible = true; clearLocationDetails();">
    Other location
  </button>

  <div *ngIf="locationDetailsVisible">
    <div class="form-group row">
      <label for="country" class="col-2 col-form-label">Country</label>
      <div class="col-10">
        <select id="country" class="form-control"
                [(ngModel)]="employee.location.country" name="country">
          <option *ngFor="let country of countries"
                  [ngValue]="country">{{country}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-2 col-form-label">City</label>
      <div class="col-10">
        <input id="city" type="text" class="form-control"
              [(ngModel)]="employee.location.city" name="city">
      </div>
    </div>
    <div class="form-group row">
      <label for="postCode" class="col-2 col-form-label">Post code</label>
      <div class="col-10">
        <input id="postCode" type="text" class="form-control"
              [(ngModel)]="employee.location.postCode" name="postCode">
      </div>
    </div>
    <div class="form-group row">
      <label for="street" class="col-2 col-form-label">Street</label>
      <div class="col-10">
        <input id="street" type="text" class="form-control"
             [(ngModel)]="employee.location.street" name="street">
      </div>
    </div>
    <div class="form-group row">
      <label for="building" class="col-2 col-form-label">Building</label>
      <div class="col-10">
        <input id="building" type="text" class="form-control"
              [(ngModel)]="employee.location.building" name="building">
      </div>
    </div>
  </div>
  <button class="btn btn-primary float-right" [disabled]="!xmlWriterForm.valid">Add employee</button>
</form>
